.home-card{
    width: 1240px;
    margin: auto;
}

.home-pic {
    width : 1240px;
    height : 415px;
    margin-top : 50px;
    object-fit: cover;
    border-radius: 25px;
}

.Hometitle{
    display: flex;
    flex-direction : row;
    justify-content:space-between;
    width: 1240px;
    height: 77px;
    margin: auto;
    margin-top: 20px;
}

.home-title {
    width: 1000px;
    height: 77px;
}
.home-title h1{
    color: #FF6060;
    height: 36px;
    font-size: 36px;
    margin:0;
}

.home-title p{
    color: #FF6060;
    height: 27px;
    font-size : 18px;
    margin-top:10px;
}

.host{
    width: 167px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.host p{
    width: 93px;
    height: 52px;
    font-size: 18px;
    text-align: right;
    color: #FF6060;
}

.host img{
    width: 64px;
    height: 64px;
    border-radius:50%;
    object-fit: cover;
}

.tags-and-rate{
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.tags{
    width: 750px;
    display: flex;
    flex-direction: row;
}

.tag{
    background-color:#FF6060;
    border-radius: 10px;
    height: 18px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}


