.error{
    max-width: 1240px;
    margin: auto;
}

.code-error{
    width: 597px;
    height: 263px;
    margin: 100px auto;
    font-size: 288px;
    color: #FF6060;
    text-align: center;
}

.oups{
    width: 872px;
    height: 51px;
    margin: 150px auto;
    font-size: 36px;
    color: #FF6060;
}

.return-home{
    max-width: 1240px;
    height: 26px;
    margin: 150px auto;
    text-align: center;
}

.return-home a{
    color: #FF6060;
}

@media (max-width: 650px){
    .error{
        width: 335px;
    }

    .code-error{
         width: 198px;
        height: 99px;
        font-size: 96px;
        margin: 75px auto;
    }

    .oups{
        width: 260px;
        font-size: 18px;
        text-align: center;
        margin: 100px auto;
    }

    .return-home{
        width: 221px;
        margin: 100px auto;
    }
}